<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Me</title>
	<meta charset="UTF-8">
	<meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
<!--===============================================================================================-->
</head>
<body>
<section>
    <div class="contact1">
		<div class="container-contact1">
			<h1>{{message_}}</h1>
		</div>
    </div>
</section>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>